build/
.gradle/
run/
logs/
*.class
tools/.blender/
tools/.blender5/
tools/review_r52/original_unpacked.blend
tools/.bpy/
tools/review_r52/*_hands.txt
tools/review_r52/vanilla_model.txt
tools/review_r52/tacz_helper.txt
tools/review_r52/follow_goal.txt
tools/review_r54/*_api.txt
tools/review_r54/*_before.java
tools/review_r54/posed_meshes.json
tools/review_r54/stubs/
tools/review_r54/classes/
